<main class="main">
<div class="picture">
    <span class="icon-chevron-left" (click)="goBack()"></span>
    <img src="assets/coffee-big.png" alt="dasdasdsa">
    <div class="coffeeDesc">
        <div class="coffeeName">
            <p>Robusta Beans</p>
            <span class="coffeeNameLocation">From Africa</span>
            <div class="rating">
                <img src="assets/star-svg.svg" alt="">
                <span class="ratingNumber">4.5</span>
                <span class="ratingVote">(6,879)</span>
            </div>
        </div>
        <div class="coffeeType">
            <div class="iReallyNeedSoMuchDivsToCreateThisPage">
                <div class="bean">
                    <img src="assets/been.svg" alt="ewe">
                    Bean
                </div>
                <div class="location">
                    <img src="assets/location.svg" alt="ewe">
                    Africa
                </div>
            </div>
            <div class="roasted">
                Medium Roasted
            </div>
        </div>
    </div>
</div>
<div class="bottomSection">
    <div class="description"> Description
        <p>Arabica beans are by far the most popular type of coffee beans, making up about 60% of the world’s coffee. These tasty beans originated many centuries ago in the highlands of Ethiopia, and may even be the first coffee beans ever consumed! </p>
    </div>
    <div class="sizeTitle">Size</div>
    <div class="size">
        <a class="sizegm" href="#">250gm</a>
        <a class="sizegm" href="#">500gm</a>
        <a class="sizegm" href="#">1000gm</a>
    </div>
    <div class="price">
        <div class="priceBlock">
            Price
            <p>$ <span>10.50</span></p>
        </div>
        <button>Add to Cart</button>
    </div>
</div>
</main>